{{#extends 'base'}}

{{#block 'content'}}

 {{#if numberFound}}
            <div class="alert alert-success mt-4">
                <span>{{numberFound}} order item(s) was found</span>
            </div>
            {{/if}}
            {{#unless numberFound}}
              <div class="alert alert-danger mt-4">
                <span>No order items was found</span>
            </div>
            {{/unless}}
  <div class="d-flex justify-content-between mt-4">
    <h2>Order Details</h2> 
   {{!-- <a href="/users/register" class="btn btn-dark btn-sm mt-3" style="width:80px;height:30px">Register</a> --}}
</div>
 <div class="accordion mt-3 mb-3" id="accordion">
  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
   Search Filter
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
      <div class="accordion-body">
         
           <form method="GET">
          
    {{{form}}}
    <input type="submit" value="Search" class="btn btn-dark my-3"/>
     </form>
      </div>
    </div>
  </div>
    
  
      <div class="row mt-3" id="productTable">
 <div class="overflow-auto mt-2 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12"> 
     <h3 class="mt-2 ">Completed</h3> 
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Email</th>
                <th>Shipping Address</th>
                <th>Total Cost</th>
                <th>Payment Intent</th>
                 <th>Order Date</th>
                <th>Status</th>
                <th></th>
                


            </tr>
        </thead>

        <tbody>
       
            {{#each successful}}
           
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.customer.email}}</td>
                <td>{{this.shipping_address_line1}}</td>
                <td>{{divide this.total_cost 100}}</td>
                 <td>{{this.payment_intent}}</td>
                  <td>{{moment this.order_date format="DD/MM/YYYY"}}</td>
                   <td>{{this.orderStatus.order_status}}</td>
                <td>
                    <a href="/orders/{{this.id}}/item" ><i class="fa fa-edit" style="font-size:23px;color:black"></i></a>
                    {{!-- <a href="users/{{this.id}}/delete" class="ms-2"><i class="fa fa-trash " style="font-size:23px;color:black"></i></a> --}}

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
   </div>


    {{!-- <h3 class="mt-4">Pending</h3>  --}}
      <div class="row mt-3" id="productTable">
 <div class="overflow-auto mt-2 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12">
    <h3 class="mt-2">Pending</h3>  
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Email</th>
                <th>Shipping Address</th>
                <th>Total Cost</th>
                <th>Payment Intent</th>
                 <th>Order Date</th>
                <th>Status</th>
                <th></th>


            </tr>
        </thead>

        <tbody>
       
            {{#each pending}}
           
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.customer.email}}</td>
                <td>{{this.shipping_address_line1}}</td>
                <td>{{divide this.total_cost 100}}</td>
                 <td>{{this.payment_intent}}</td>
                  <td>{{moment this.order_date format="DD/MM/YYYY"}}</td>
                   <td>{{this.orderStatus.order_status}}</td>
                <td>
                    <a href="/orders/{{this.id}}/item" ><i class="fa fa-edit" style="font-size:23px;color:black"></i></a>
                    {{!-- <a href="#" class="ms-2"  data-oneid="{{this.id}}" data-email="{{this.customer.email}}" ><i class="fa fa-trash delete-order" style="font-size:23px;color:black" data-oneid="{{this.id}}" data-email="{{this.customer.email}}"></i></a> --}}

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
   </div>
   
   
{{/block}}

{{#block 'js'}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  let deleteorder = document.querySelectorAll('.delete-order');
  for (let d of deleteorder) {
    d.addEventListener('click', async function(evt){
        evt.preventDefault();  
        console.log(evt.target.dataset);
        
        const result = await Swal.fire({
            'title':`Confirm delete ${evt.target.dataset.customer.email}?`,
            'icon': 'warning',
            'confirmButtonText': 'Yes',
            'cancelButtonText':'Cancel',
            'showCloseButton': true,
            'showCancelButton': true
        })  
        if (result.isConfirmed) {
            // process the delete
            const form = document.createElement('form');
            form.method = "POST"; // <form method="POST">...</form>
            // form.action = `/products/${event.target.dataset.id}/delete`
           form.action = "/orders/" + evt.target.dataset.id + "/delete";
             form.innerHTML ='<input type = "hidden" value="{{csrfToken}}" name="_csrf"/>'
            document.querySelector('body').appendChild(form);
            form.submit(); // submit the form with a function call
            
        }
   
    })
  }
</script>
{{/block}}

{{/extends}}