{{#extends 'base'}}
{{#block 'content'}}
     <div class="row" id="productTable">
 <div class="overflow-auto mt-4 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12"> 
     <h1 class="mt-2">Update Order Status</h1>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Email</th>
                <th>Shipping Address</th>
                <th>Total Cost</th>
                <th>Payment Intent</th>
                 <th>Order Date</th>
                <th>Status</th>
                <th></th>
                


            </tr>
        </thead>

        <tbody>
       
        
           
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.customer.email}}</td>
                <td>{{order.shipping_address_line1}}</td>
                <td>{{divide order.total_cost 100}}</td>
                 <td>{{order.payment_intent}}</td>
                  <td>{{moment order.order_date format="DD/MM/YYYY"}}</td>
                    <td scope="row">
                                <form method="POST" action="/orders/{{order.id}}/update">
                                    {{!-- {{> csrfToken}} --}}
                                    {{{form}}}
                                    <div class="custom-btn-group">
                                    {{!-- <input type="submit" value="Update" class="btn btn-dark mt-3"> --}}
                                     <td>
                                     <input type="submit" value="Update" class="btn btn-dark my-auto"/>

                                     </td>
                                    </div>
                                </form>
                            </td>
                {{!-- <td>
                    <input type="submit" value="Update" class="btn btn-dark my-auto"/>

                </td> --}}
            </tr>
  
        </tbody>
    </table>
</div>




<div class="overflow-auto mt-5 mb-3 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12"> 
     <h1 class="mt-2">Order Items</h1>
    <table class="table mt-3">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Spiciness</th>
                <th>Size</th>
                 <th>Quantity</th>
                <th>Cost</th>
               
                


            </tr>
        </thead>

        <tbody>
           {{#each orderItems}}
        
           
            <tr>
                <td><img src="{{this.variant.image_url}}" width="100"  class="img-fluid"/></td>
                <td>{{this.variant.product.name}}</td>
                <td>{{this.variant.spiciness.spiciness}}</td>
                <td>{{this.variant.size.size}}</td>
                  <td>{{this.quantity}}</td>
                   <td>{{divide this.variant.cost 100}}</td>
               
                                    {{!-- </div>
                                </form>
                            </td> --}}
                {{!-- <td>
                    <input type="submit" value="Update" class="btn btn-dark my-auto"/>

                </td> --}}
            </tr>
   {{/each}}
        </tbody>
    </table>

</div>





   </div>









{{/block}}
{{/extends}}
 