{{#extends 'base'}}
{{#block 'content'}}
     <div class="row " id="productTable">
 <div class="overflow-auto mt-2 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12"> 
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Email</th>
                <th>Shipping Address</th>
                <th>Total Cost</th>
                <th>Payment Intent</th>
                 <th>Order Date</th>
                <th>Status</th>
                <th></th>
                


            </tr>
        </thead>

        <tbody>
       
        
           
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.customer.email}}</td>
                <td>{{order.shipping_address_line1}}</td>
                <td>{{order.total_cost}}</td>
                 <td>{{order.payment_intent}}</td>
                  <td>{{moment order.order_date format="DD/MM/YYYY"}}</td>
                   <td>{{order.orderStatus.order_status}}</td>
                <td>
                    <a href="users/{{this.id}}/update" ><i class="fa fa-edit" style="font-size:23px;color:black"></i></a>
                    <a href="users/{{this.id}}/delete" class="ms-2"><i class="fa fa-trash " style="font-size:23px;color:black"></i></a>

                </td>
            </tr>
  
        </tbody>
    </table>

</div>
   </div>









{{/block}}
{{/extends}}
 