{{#extends 'base'}}

{{#block 'content'}}
   <div class="row mt-5">
   <div class=" p-3 shadow-lg rounded-5 col-12 col-md-12 col-sm-12">
   <div class="d-flex justify-content-between mt-2">
    <h1 >Executive Staff</h1> 
   <a href="/users/register" class="btn btn-dark btn-sm mt-3" style="width:80px;height:30px">Register</a>
</div>
 
    
    <table class="table mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this.user}}</td>
                <td>
                    <a href="users/{{this.id}}/update" ><i class="fa fa-edit" style="font-size:23px;color:black"></i></a>
                    <a href="users/{{this.id}}/delete" class="ms-2"><i class="fa fa-trash " style="font-size:23px;color:black"></i></a>

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
   </div>
   </div>
{{/block}}

{{/extends}}