{{#extends 'base'}}

{{#block 'content'}}

{{!-- <h3 class="mt-2">Products</h3> --}}

  <div class="d-flex justify-content-between mt-5">
    <h3 >Search</h3>
    <a href="/products/create" class="btn btn-dark btn-sm d-flex align-items-center">Add Product</a>
</div>

<div class="accordion mt-3 mb-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
   Search
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
           <form method="GET">
    {{{form}}}
    <input type="submit" value="Search" class="btn btn-dark my-3"/>
     </form>
      </div>
    </div>
  </div>
  {{!-- <div class="d-flex justify-content-between mt-3">
    <h3>All Products</h3>
<a href="/products/create" class="btn btn-dark btn-sm">Add Products</a>
</div> --}}
<table class="table mt-4">
    <thead>
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Created Date</th>
             <th>Type</th>
            <th>Name</th>
            <th>Country</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Packaging</th>
            <th>Shelf Life(Yrs)</th>
            <th>Cuisine Style</th>
             <th>Vegan</th>
             <th>Halal</th>
            
            <th></th>
            <th></th>
            
        </tr>

    </thead>
    <tbody>
        {{#each products}}
            <tr >
                   <td>
                <img src="{{this.image_url}}" width="100px" class="img-fluid"/>
                </td>
                <td >
                    {{this.id}}
                </td>
                  <td >
                    {{moment this.created_date format="YYYY-MM-DD"}}
                </td>
                 <td >
                    {{this.type.type}}
                </td>
                <td >
                    {{this.name}}
                </td>
                <td >
                    {{this.country.country}}
                </td>
                <td>
                    {{this.description}}
                </td>
               
                  <td >
                    {{#each this.ingredients}}
                     <div  class="badge bg-dark">{{this.ingredient}}</div>
                      {{/each}}
                </td>
                  {{!-- <td >
                    {{this.sizes.size}}
                </td> --}}
                 <td>
                    {{this.packaging.packaging}}
                </td>
                 <td>
                    {{this.shelf_life}}
                </td>
               {{!-- <td >
                    
                     {{this.spiciness.spiciness}}</span>
                   
                </td> --}}
                  <td >
                     {{#each this.cuisine_styles}}
                     <span>{{this.cuisine_style}}</span>
                      {{/each}}
                </td>
                 <td>
                    {{this.vegan}}
                </td>
                  <td >
                    {{this.halal}}
                </td>
                  <td >
                   <br>
                
                <a href="products/{{this.id}}/update" ><i class="fa fa-edit " style="font-size:23px;color:black"></i></a>
                <a href="products/{{this.id}}/delete" ><i class="fa fa-trash " style="font-size:23px;color:black"></i></a>
                <a href="products/{{this.id}}/variant" class="btn btn-dark btn-sm mt-4" >Variant</a>
               
            </td>
            {{!-- <td ></td> --}}
            
        {{/each}}
                    </tbody>
                    </tr>
</table>
{{/block}}

{{/extends}}