{{#extends 'base'}}

{{#block 'content'}}
<h1>Products</h1>
<a href="/products/create" class="btn btn-primary">New</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Created Date</th>
             <th>Type</th>
            {{!-- <th>Thumbnail</th>
            <th>Stock</th>  --}}
            {{!-- <th>Cost</th> --}}
            <th>Name</th>
            <th>Country</th>
            <th>Description</th>
            <th>Ingredients</th>
            {{!-- <th>Size</th> --}}
            <th>Packaging</th>
            <th>Shelf Life</th>
            {{!-- <th>Spiciness</th> --}}
            <th>Cuisine Style</th>
             <th>Vegan</th>
             <th>Halal</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        {{#each products}}
            <tr >
                <td >
                    {{this.id}}
                </td>
                  <td >
                    {{moment this.created_date format="YYYY-MM-DD"}}
                </td>
                 <td >
                    {{this.type.type}}
                </td>
                 {{!-- <td >
                    {{this.variants.thumbnail_url}}
                </td>
                <td >
                    {{this.variants.stock}}
                </td> 
                 <td >
                    {{this.variants.cost}}
                </td> --}}
                <td >
                    {{this.name}}
                </td>
                <td >
                    {{this.country.country}}
                </td>
                <td>
                    {{this.description}}
                </td>
               
                  <td >
                    {{#each this.ingredients}}
                     <span>{{this.ingredient}}</span>
                      {{/each}}
                </td>
                  {{!-- <td >
                    {{this.sizes.size}}
                </td> --}}
                 <td>
                    {{this.packaging.packaging}}
                </td>
                 <td>
                    {{this.shelf_life}}
                </td>
               {{!-- <td >
                    
                     {{this.spiciness.spiciness}}</span>
                   
                </td> --}}
                  <td >
                     {{#each this.cuisine_styles}}
                     <span>{{this.cuisine_style}}</span>
                      {{/each}}
                </td>
                 <td>
                    {{this.vegan}}
                </td>
                  <td >
                    {{this.halal}}
                </td>
                  <td>
                <a href="products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
              
            </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}