{{#extends 'base'}}

{{#block 'content'}}
  <div class="row m-3">
 <div class="overflow-auto mt-3 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12"> 
<h1 class="mt-2">Update Product</h1>
<form method="POST">
   
    {{{form}}}
           <!-- 1. shows the image if exists -->
    <div>     
        {{#if product.image_url}}
        <img  class="mt-3" src="{{product.image_url}}" width= "50%" id="uploaded_image" />
        {{else}}
        <img  class="mt-3" src="" style="display:none" id="uploaded_image" />
        {{/if}}
    </div>
      <div class="mt-3">
           <a href="#" class="btn btn-dark" id="upload_widget"><i class='fa-solid fa-upload'></i> Upload Image</a>
    </div>
    <input type="submit" value="Update" class="btn btn-dark mt-3"/>
    <a href="javascript:history.back()" class="btn btn-dark mt-3">Cancel</a>
       <input type="hidden" value="{{csrfToken}}" name="_csrf"/>
   
</form>
</div>
</div>
{{/block}}

{{/extends}}
{{#block js}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script>
    function generateSignature(callback, params_to_sign) {
        axios.get('/cloudinary/sign', {
            params: {
                params_to_sign
            }
        }).then(function (response) {
            callback(response.data);
        })
    }

    var myWidget = cloudinary.createUploadWidget({
        cloudName: '{{cloudinaryName}}',
        apiKey: '{{cloudinaryApiKey}}',
        uploadPreset: '{{cloudinaryPreset}}',
        uploadSignature: generateSignature
    }, (error, result) => {
        if (!error && result && result.event === "success") {
            console.log('Done! Here is the image info: ', result.info);
            // hide the upload widget 
            // display the image
            document.querySelector('#id_image_url').value = result.info.url;
            document.querySelector('#uploaded_image').src = result.info.url;
            document.querySelector('#uploaded_image').style.display = 'block';
        }
    }
    )

    document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
    }, false);
</script>

{{/block}}

