{{#extends 'base'}}

{{#block 'content'}}
{{!-- <h3 class="mt-4">Products</h3> --}}

  <div class="row">
 <div class="overflow-auto mt-3 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12"> 
     <h2 > {{product.name}}  </h2>
                <img src="{{product.image_url}}" style=" width:300px" class="img-fluid"/>
                
           <div class="mt-3 mb-3"> 
            <h5 >Description</h5>
            
            <div >
            {{product.description}}
            </div>

            </div>
            
            </div>
            </div>
    {{!-- <tbody>
            <tr >
              
           
                <td>
                    
                </td> --}}
               
{{!--      
</table> --}}
  <div class="row mt-3 mb-3">
 <div class="overflow-auto mt-3 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12"> 
   <div class="d-flex justify-content-between mt-2">
    <h3 >Variants</h3>
    <a href="/products/{{product.id}}/variant/create" class="btn btn-dark btn-sm d-flex align-items-center text-center mt-2" style="width: 88px; height:30px">Add Variant</a>
</div>
{{!-- <h3 class="mt-5">Variants</h3> --}}

    <table class="table">
    <thead>
        <tr>
             {{!-- <th></th> --}}
            <th>ID</th>
            <th>Stock</th>
             <th>Cost</th>
            <th>Spiciness</th>
            <th>Size</th>
               <th></th>
            <th></th>
            
        </tr>

    </thead>
   
    <tbody>
        {{#each variants}}
            <tr >
                  {{!-- <td >
                  <img src="{{this.image_url}}" width="100"  class="img-fluid"/>
                </td> --}}
                <td >
                    {{this.id}}
                </td>
                  <td >
                    {{this.stock}}
                </td>
                 <td >
                    {{divide this.cost 100}}
                </td>
                <td >
                    {{this.spiciness.spiciness}}
                </td>
                <td>
                    {{this.size.size}}
                </td>
           
                <td>
                       {{!-- <br> --}}
                    {{!-- <a href="/products/{{product.id}}/variant/create" class="ms-1" ><i class="fa fa-plus " style="font-size:23px;color:black"></i></a> --}}
                       <a href="/products/{{product.id}}/variant/{{this.id}}/update"><i class="fa fa-edit" style="font-size:23px;color:black"></i></a>
                       <a href="/products/{{product.id}}/variant/{{this.id}}/delete"><i class="fa fa-trash " style="font-size:23px;color:black"></i></a>
                       <a href="/cart/{{this.id}}/add" class="btn btn-secondary btn-sm ms-2 ">Add to cart</a>
                  </td>
                   <td></td>
                </tr>
                  {{/each}}
                   
               
                    {{!-- <a  href="/products/create-variants" class="btn btn-primary">Add Variant</a> --}}
                   </tbody>
                   
</table>
</div>
</div>
{{/block}}

{{/extends}}
{{#block js}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script>
    function generateSignature(callback, params_to_sign) {
        axios.get('/cloudinary/sign', {
            params: {
                params_to_sign
            }
        }).then(function (response) {
            callback(response.data);
        })
    }

    var myWidget = cloudinary.createUploadWidget({
        cloudName: '{{cloudinaryName}}',
        apiKey: '{{cloudinaryApiKey}}',
        uploadPreset: '{{cloudinaryPreset}}',
        uploadSignature: generateSignature
    }, (error, result) => {
        if (!error && result && result.event === "success") {
            console.log('Done! Here is the image info: ', result.info);
            // hide the upload widget 
            //document.querySelector('#upload_widget').style.display = "block";

            // display the image
            document.querySelector('#id_image_url').value = result.info.url;
            document.querySelector('#uploaded_image').src = result.info.url;
            document.querySelector('#uploaded_image').style.display = 'block';
        }
    }
    )

    document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
    }, false);
</script>

{{/block}}
